/*Google Font: Inter*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-purple: #6941C6;
  --color-text: #1A1A1A;
  --color-dark: #090D1F;
  --color-lightPurple: #F9F5FF;
  --color-lightGray: #C0C5D0;  
  --color-blue: #3538CD;
  --color-lightBlue: #EEF4FF;
  --color-pink: #C11574;
  --color-lightPink: #FDF2FA;
  --color-darkCerulean : #026AA2;
  --color-lightCerulean: #F0F9FF;
  --color-green: #027A48;
  --color-lightGreen: #ECFDF3;
  --color-darkBlue: #363F72;
  --color-bg-soft: #F8F9FC;
  --color-red: #C4320A;
  --color-lightRed: #FFF6ED;
  --color-borderColor: #00000057;
  --color-borderColor-02: #EAECF057;

  --font-inter: "Inter", sans-serif;
 
}

